/* 


.navContainer {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 20px;
}
 */

.navContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.logoContainer {
    margin-right: 50px;
    flex: none;
}

.navLink {
    margin: 20px;
}

.navLink:hover {
    text-decoration: underline;
}

.buttonContainer {
    margin-left: 10%;
}