
.button {
    width: 139px;
    height: 47px;
    background-color: #853fbe;
    border: none;
    border-radius: 12px;
    padding: 15px 53px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    display: flex;
    white-space: nowrap;
}

.button:hover {
    background-color: #A46ED1;
}